:host {
    padding: 10px;
    margin: 10px;
    max-width: 320px;
}

.young {
    color: deeppink;
    font-weight: bold;
    &::after, &::before {
        content: '*';
    }
}

mat-card-actions {
    text-align: right;
    button {
        margin-left: 10px;
    }
}

.in-cart {
    color: hotpink;
}
